*{
    font: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.hero_main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    padding: 0.1px;
    border-radius: 2rem 2rem 0 0;
    background-color: lightgray;
}

.hero_main_logo{
    margin: 0%;
    margin-left: 3rem;
    padding: 0%;
}

.hero_main_home{
    display: inline-block;
    margin: 1rem;
    flex-direction: row;
    color: black;
}

.contact_button{
    padding: 0.5rem;
    border-radius: 1rem 0 1rem 0; 
    background-color: #052c42;
    color: white;
    margin-right: 3rem;
}


@media only screen and (max-width: 768px) {

    .hero_main{
        padding-bottom: 0rem;
    }

    .logo{
        height: 10rem;
        padding-left: -4rem;
        margin-left: -1.8rem;
        margin: -1.9rem;
    }

    .hero_main_logo{
        margin: 0;
    }

    .contact_button{
        font-size: 0.8em;
        padding: 0.5rem;
        margin-right: 0;
    }
}

.main{
    margin:1rem;
    background-color: #015c92;
    padding-bottom: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    border-radius: 0 0 2rem 2rem;
}

.main_headline{
    margin: 1rem;
    margin-left: 4rem;
    padding-top: 2rem;
    color: white;
}

.main_para{
    margin-right: 4rem;
    margin-top: 2rem;
    color: #fcd500;
}

.para{
    margin: 0.5rem;
    color: #929292;
}

@media only screen and (max-width: 768px) {
    .main{
        margin: 1rem;
        padding-top: -1rem;
        padding-bottom: 1rem;
        gap: 0;
    }

    .main_headline{
        font-size: 0.4rem;
        margin: 1rem;
        margin-top: -1rem;
    }

    .first_h1{
        margin-left: 1rem;
    }

    .main_para{
        font-size: 0.3rem;
        margin-top: 0rem;
        margin-right: 1rem;
    }

    .pros{
        font-size: 0.3rem;
    }
}

.main_image{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    background-color: #015c92;
    border-radius: 2rem;
}

.house_img{
    height: 15rem;
    margin: 1rem;
}

.image{
    margin: rem;
    border-radius: 1rem;
    border-radius: 2rem;
}

.image_para{
    margin: 1rem;
    color: white;
    margin-right: 5rem;
    margin-bottom: 5rem;
}

.icons{
    margin-top: 3rem;
    display: flex;
    gap: 2rem;
}

.small_icons{
    height: 4rem;
    width: auto;
}

.small_icons_1{
    display: flex;
    flex-direction: column;
    font-size: 0.7rem;
}

h3{
    color: #fcd500;
    font-size: 1.5rem;
}

@media only screen and (max-width: 768px) {
    .main_image{
        gap: 0rem;
    }

    .image_para{
        margin: 2rem;
    }

    .house_img{
        height: 5rem;
        width: auto;
        margin: 1rem;
        margin-top: rem;
        padding-top: -3rem;
    }

    h1{
        font-size: 1rem;
        margin-left: 0rem;
    }

    .icons{
        margin-top: 1rem;
        gap: 1rem;
        margin-left: -1rem;
    }

    .small_icons{
        height: 1rem;
        width: auto;
        margin-top: 0;
    }

    .small_icons_1{
        font-size: 0.4rem;
        margin-left: -0.4rem;
        margin-right: 0%;
    }

    h3{
        font-size: 0.5rem;
    }

}
.hero_mid{
    margin: 2rem;
    display: flex;
    justify-content: center;
    gap: 25rem;
}

.hero_mid_a{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.8rem;
}

h4{
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: 0.3rem;
    color: #222222;
}

.get_start{
    text-align: center;
    margin-top: 3rem;
}

.get_start_button{
    font-size: 1.3rem;
    padding: 1rem;
    color: white;
    background-color: #fcd600c2;
    border-radius: 1rem;
}

.get_start:hover{
    transform: scale(1.1);
    transition: 0.2s;
}

@media only screen and (max-width: 768px) {
    .hero_mid{
        gap: 10rem;
        margin-bottom: -1rem;
    }

    .big_icons{
        height: 3rem;
    }

    .hero_mid_a{
        font-size: 0.5rem;
    }

    h4{
        font-size: 0.8rem;
    }

    .get_start_button{
        font-size: 0.8rem;
        border-radius: 0.6rem;
        padding: 0.8rem;
    }
}


.house_images_para{
    text-align: center;
    margin-top: 5rem;
    color: #222222;
}

.imgs{
    margin: 4rem;
    display: flex;
    height: 20rem;
    width: auto;
    gap: 1rem;
}

.imgs_a{
    margin: 4rem;
    display: flex;
    height: 20.5rem; 
    width: auto;
    gap: 1rem;
}

.images_a{
    height: 20.5rem;
    width: auto;
    margin-top: 0;
}

.images_c{
    width: 35rem;
    height: auto;
}

.images_b{
    width: 42rem;
}

.images_d{
    width: 30rem;
}

@media only screen and (max-width: 768px) {
    .house_images_para{
        margin-top: 3rem;
        flex-wrap: wrap;
        width: calc(80%-1rem);
    }

    .imgs{
        height: 6rem;
        width: auto;
        margin-left: 1rem;
        gap: 1rem;
        margin-bottom: 0;
    }

    .imgs_a{
        height: 6.4rem;
        width: auto;
        margin: 1rem;
    }

    .images_a{
        height: 6.4rem;
        width: auto;
        margin-left:0rem;
    }
    
    .images_c{
        height: 7rem;
        width: 11.5rem;
    }
    
    .images_b{
        height: 7rem;
        width: auto;
    }
    
    .images_d{
        height: 8rem;
        width: auto;
    }
}

